* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    width: 100%;
}

#headerpage {
width: 100%;
height: 75px;
background-color: blue;
align-self: start;
}

@media only screen and (min-width: 440px){


    #headerpage {
        width: 100%;
        height: 75px;
        background-color: orange;
        }
    
}